html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	color: #9d9d9d;
	font-weight: 300;
	background-color: black;
	margin-bottom: 90px;
}

.title-logo {
	max-height: 60px;
	margin: 5px;
}

/* navbar styling */

h3 {
	margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
	/* adjust logo location */
	.title-logo {
		margin-top: -15px;
		margin-left: 5px;
	}
	/* menu button style */
	.navbar-collapse {
		text-align: right;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-top: -30px;
	}
}

.navbar-fixed-top {
	background: transparent;
	border: transparent;
}

.navbar-inverse .navbar-collapse .active >a {
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: rgb(158,0,39);
}

.navbar-inverse .navbar-collapse .active >a:hover {
	background: transparent;
	color: rgb(158,0,39);
}

.icon {
	margin: 5px;
}

/* footer styling */

.footer {
	text-align: center;
	margin-bottom: 30px;
	color: #9d9d9d;
	position: absolute;
	bottom: -90px;
	width: 100%;
	height: 60px;
	clear: both;
}

h6 {
	font-size: 11px;
}

.links {
	list-style-type: none;
	padding: 0;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
	padding-start: 0;
}

.links >li {
	display: inline;
	text-align: center;
	margin: 3px;
	opacity: 0.8;
}

.name {
	margin-bottom: -3px;
}

/* general carousel styling */

.carousel-indicators {
	bottom: -50px;
}

.carousel-inner {
	margin-bottom: 50px;
}

.carousel-inner img {
	margin: auto;
}

h2 {
margin-bottom: 370px;
}

.black {
	color: black;
}

/* carousel styling try 2 - fades instead of slides */

.carousel.fade {
	opacity: 1;
}

.carousel.fade .item {
	transition: opacity ease-in-out 3s;
	left: 0;
	opacity: 0; /* hide all slides */
	top: 0;
	position: absolute;
	width: 100%;
	display: block;
}

.carousel.fade .item:first-child {
	top: auto;
	opacity: 0; /* show first slide */
	position: relative;
}

.carousel.fade .item.active {
	opacity: 1;
}

.carousel-indicators li {
	transition: all 3s ease;
	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	-o-transition: all 3s ease;
}

/* TO DO -- make indicators slide when it changes location on smaller screens */

/*
.carousel-indicators
-transition:
*/

/*carousel safari fix*/

@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .item.next,
	.carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: all 3s ease;
	}
	.carousel-fade .carousel-inner > .item.prev,
	.carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: all 3s ease;
	}
	.carousel-fade .carousel-inner > .item.next.left,
	.carousel-fade .carousel-inner > .item.prev.right,
	.carousel-fade .carousel-inner > .item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: all 3s ease;
	} 
}
/* adjust location of designer text on short pictures */
@media screen and (max-width: 768px) {
		.item {
			position: relative;
		}

		.white, .black {
			position: absolute;
			top: 0;
		}

		h2 {
			position: absolute;
			top: 0;
			width: 100%;
			margin-top: 147px;
		}
}

@media screen and (max-width: 667px) {
	h2 {
		margin-top: 34%;
		font-size: 26px
	}
}

@media screen and (max-width: 568px) {
	h2 {
		font-size: 24px
	}
}

@media screen and (max-width: 480px) {
	h2 {
		font-size: 22px
	}
}







